*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header{
    width: 100vw;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: rgb(36, 157, 113);
    z-index: 11;
}

header h4{
        color: #fff;
        margin-left: 50px;
    }

header .time {
    right: calc(80px + 50px);
}

.container{
    width: 100vw;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: row;
}

main{
    width: 100vw;
    height: calc(100vh - 80px);
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    background-color: #fff;
    grid-column: span 2;
}

@media (min-resolution: 150dpi) {
  main {
    display: flex !important;      /* Tira o grid e ativflex */
    flex-direction: column !important; /* Força a linha */
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;  
    overflow-y: hidden;              /* Opcional: permite quebra de linha */
  }
}

@media (max-width: 768px) {
  main {
    width: 100vw !important;
    display: flex !important;
    flex-direction: row !important;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: auto;
  }

  .card{
    width: 90%;
    margin-top: 25px;
  }

  .card_total{
    width: 90%;
    margin-top: 50px;
  }

  .arrow{
    z-index: 2;
  }
}

nav{
    width: 300px;
    height: calc(100vh - 80px);
    background-color: #e2e8e4;
    display: flex;
    justify-content: center;
    align-items: top;
    position: absolute;
    bottom: 0px;
    left: -300px;
    z-index: 2;
    transition: 0.2s ;

    p{
        font-size: 14px;
        color: #717874;
        position: absolute;
        bottom: 20px;
        font-weight: bold;
        font-style: italic;
    }

    h1{
        color: rgb(22, 99, 54);
        font-size: 28px;
    }
}

.bg-blur{
    width: 100%;
    height: calc(100vh - 80px);
    position: absolute;
    background-color: rgba(200, 200, 200, 0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    bottom: 0px;
    opacity: 0;
    transition: 0.2s ease;
    z-index: -1;
}

.arrow{
    width: 25px;
    position: absolute;
    top: 105px;
    left: 25px;
    rotate: 90deg;
    cursor: pointer;
    z-index: 3;
    transition: 0.2s ease-in-out;
    user-select: none;

    &:hover{
        opacity: 0.8;
    }
}

.time{
    position: absolute;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
}

.anim-piscar{
    animation: piscar 1s  infinite;
}

/* Animação de piscar para ":" do timer*/
@keyframes piscar{ 
    0% { 
        color: transparent;
    }
    50% { 
        color: transparent;
    }
    51% { 
        color: #fff;
    }
    100% { 
        color: #fff;
    }
}

.logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-left: 25px;
    font-size: 28px;
    font-weight: 600;
    color: #fff;

    img{
        width: auto;
        height: 150px;
    }
}

.user-container{
    height: 100%;
    min-width: 80px;
    max-width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(22, 99, 54);
    cursor: pointer;
    user-select: none;

    &:hover{
        background-color: rgb(22, 99, 54, 0.8);
    }

    img{
        width: 40px;
        height: 40px;
        border: 2px solid #fff;
        border-radius: 50%;
    }

    p{
        color: #fff;
        text-align: center;
    }
}

/*Estilo para pop-up do usuário*/
.user-info{
    position: absolute;
    top: 80px;
    right: 0px;
    width: 200px;
    height: 200px;
    background-color: #456052;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p{
        font-size: 16px;
        color: #fff;
        margin-bottom: 20px;
    }

    img{
        width: 40px;
        height: 40px;
        border: 2px solid #fff;
        border-radius: 50%;
    }

    button{
        width: 80%;
        height: 30px;
        background-color: rgb(36, 157, 113);
        border: none;
        color: #fff;
        font-weight: bold;
        cursor: pointer;
        border-radius: 5px;
        margin-top: 35px;

        &:hover{
            background-color: rgb(36, 157, 113, 0.8);
        }
    }
}

/* Estilos para a barra lateral de navegação */
ul{
    display: flex;
    flex-direction: column;
    height: auto;
    margin-top: 25px;
    user-select: none;

    li{
        display: flex;
        align-items: center;
        list-style: none;
        margin: 20px 0;
        width: 100%;
        height: 30px;
        top: 0px;
        
        img{
            width: 30px;
            height: 30px;
            margin-right: 20px;
        }
    }

    button{
        width: 100%;
        height: calc(100% + 10px);
        font-size: 16px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        color: #456052;
        text-decoration: none;
        font-weight: bold;
        display: flex;
        align-items: center;
        border-radius: 0px;
        transition: 0.1s;

        &:hover{
            background-color: #77d8a67e;
            border-radius: 14px;
        }
    }

    a{
        text-decoration: none;
        color: #456052;
        width: 100%;
    }
}

/* Estilos para os cards da página Resumo */
.card{
    width: 300px;
    height: 250px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border: 1px solid #e2e8e4;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    overflow: hidden;

    h1{
        color: #456052;
        font-size: 24px;
        margin-top: 20px;
        text-shadow: -4px 2px 4px rgba(0, 0, 0, 0.144);
    }
}

.value{
    width: 450px;
    height: 300px;
    border-radius: 50%;
    background-color: rgb(36, 157, 113);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.311);
    transform: translateY(100px);

    p{
        font-size: 30px;
        font-weight: bold;
        font-family: 'Courier New', Courier, monospace;
        margin-top: 35px;
        color: #fff;
        text-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
    }
}

/* Estilo para o card do Estoque Total da página Resumo */
.card-total{
    width: 300px;
    height: 250px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    grid-column: span 2;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border: 1px solid #e2e8e4;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    overflow: hidden;

    h1{
        color: #456052;
        font-size: 24px;
        margin-top: 20px;
        text-shadow: -4px 2px 4px rgba(0, 0, 0, 0.144);
    }
}

.value{
    width: 450px;
    height: 300px;
    border-radius: 50%;
    background-color: rgb(36, 157, 113);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.311);
    transform: translateY(100px);

    p{
        font-size: 30px;
        font-weight: bold;
        font-family: 'Courier New', Courier, monospace;
        margin-top: 35px;
        color: #fff;
        text-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
    }
}